<form action="/create" method="POST">
    <h2>Create item</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>

    <button type="#" class="btn waves-effect waves-light">Create</button>
</form>